.main {
	min-height: 70vh;
}

.login-comp {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-comp form {
	width: 400px;
	background: rgba(93, 90, 90, 0.319);
	padding: 1rem;
	border-radius: 5px;
}

.list-group .list-group-item {
	display: flex;
	justify-content: space-between;
}
